#!/bin/zsh

# Many of these aliases are borrowed from
# https://github.com/mathiasbynens/dotfiles/blob/main/.aliases

# Remove alle Node.js modules
alias rmnode="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"

# Simplify fuzzy finder piping
alias -g Z="| fzf"

# Simplify grep piping
alias -g G="| grep"

# Shortening alias-finder
alias af="alias-finder"

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias docs="cd ~/Documents"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dev="cd ~/Development/projects/svelte"
alias rdev="cd ~/Development/R"
alias data="cd ~/Development/projects/data-innhenting"

# Update macOS, brew
alias update="sudo softwareupdate -i -a"
alias brewup="brew update; brew upgrade; brew cleanup; brew doctor"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Lock screen (requires that password is set to unlock)
alias afk="open -a ScreenSaverEngine"

# Reload shell
alias reload="exec ${SHELL} -l"

#############
# Functions #
#############

# List folder structure in current folder
dir() {
    tree -d -L ${1}
}

# Restart computer
restart(){
    echo "Enter password to restart your computer..."
    sudo shutdown -r now
}

# Copy dotfiles to current folder
dot() {
    if [[ ! -e ~/dotfiles/${1} ]]
    then
        echo "File ~/dotfiles/${1} not found."
    else
        cp -vi ~/dotfiles/${1} ${PWD}
    fi
}

# Convenience function for ai2html projects
mmai2html() {
     git clone git@github.schibsted.io:aftenposten-mm/ai2html-templates.git temp-$1
     mv temp-$1/sample $1
     rm -rf temp-$1
     cd $1
     node init.js $1
     npm init -y
     rm -rf ai2html-output
     rm -rf init.js
     mv sample-ai2html.ai $1.ai
     open $1.ai
}