#!/bin/zsh

# Many of these aliases are borrowed from
# https://github.com/mathiasbynens/dotfiles/blob/main/.aliases

# Shorten todo.sh command
alias t="todo.sh"

# Simplify fuzzy finder piping
alias -g Z='| fzf'

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias docs="cd ~/Documents"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# Open Google Chrome
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

# Update macOS, brew
alias update="sudo softwareupdate -i -a"
alias brewup="brew update; brew upgrade; brew cleanup; brew doctor"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Lock screen (requires that password is set to unlock)
alias afk="pmset displaysleepnow"

# Reload shell
alias reload="exec ${SHELL} -l"